*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --darkskin: #f86161;
    --lightskin: #fa8c91;
    --shadow: rgba(49, 50, 51, 0.7);
}

body{
    height: 100vh;
    background: #313233;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
}
.piggy{
    position: relative;
    height: 360px;
    width: 360px;
    top: 50%;
    left: 50%;
    border: 1px solid;
    transform: translate(-50%, -50%);
}

.pig *{
    position: absolute;
}

.head{
    height: 0;
    width: 206px;
    top: 100px;
    left: 84px;
    border: 24px solid transparent;
    border-bottom: 72px solid var(--lightskin);
    border-top: 0;
}
.head:before{
    content: '';
    position: inherit;
    height: 80px;
    width: 160px;
    background-color: var(--lightskin);
    border-radius: 50%;
}
.eye{
    height: 52px;
    width: 50px;
    top: 22px;
    left: -8px;
    background-color: var(--darkskin);
    border-radius: 50%;
    box-shadow: 120px 0 0 var(--darkskin);
    z-index: 1;
}
.eye:before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    top: 14px;
    left: 14px;
    background: radial-gradient(circle, #ffffff 72%, transparent 72%) no-repeat;
    background-size: 6px 6px;
    background-position: 10px 5px;
    background-color: #313233;
    border-radius: 50%;
    box-shadow: 124px -1px 0 -7px #ffffff, 122px 0 0 #313233;
}

ul{
    display:flex;
    list-style: none;
    text-align: left;
    padding: 10px;
}
li{
    padding: 5px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* set a style for all the buttons */
button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }